*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:30px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    border: 0;
}

.my-float{
	margin-top:1px;

}