<app-navbar></app-navbar>


<div class="container" style="padding-top:10% ; padding-bottom:10%">

<h2 class="logo"style="text-align:center">¡Crea una historia nueva!</h2>

<br>
<br>
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Título de tu nueva historia</label>
    <input type="text" class="form-control" id="formGroupExampleInput" style="color:#000000" placeholder="Título">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Reseña o sinopisis de la historia</label>
    <input type="text" class="form-control" style="color:#000000" id="formGroupExampleInput2" placeholder="Another input">
  </div>
  </form>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Empieza tu historia aquí</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" style="color:#000000" rows="15"></textarea>
  </div>
  <button type="button" class="btn btn-primary btn-lg btn-block">Guardar nueva historia</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Guardar cambios</button>
</div>




<app-footer></app-footer>